@page "/departmentdetail/{id}"

<h1>Detail Departments</h1>
<ul>
    <li><h2>Departments Id: @Department.DepartmentId</h2></li>
    <li><h2>Departments Name: @Department.DepartmentName</h2></li>
</ul>


